<div class="container">
    <div>
        <mat-form-field style="width:20vw" appearance="fill">
            <mat-label>I am a/an.</mat-label>
            <mat-select [(value)]="role">
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{role}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="height: 60px;"></div>
    <div>
        <mat-form-field style="width:30vw" appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="login.controls['email']?.invalid">Invalid Email-ID provided</mat-error>
        </mat-form-field>
    </div>
    <div style="height: 20px;"></div>
    <div>
        <mat-form-field style="width:30vw" appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="login.controls['password']?.invalid">Password is required.</mat-error>
        </mat-form-field>
    </div>
    <div style="height: 20px;"></div>
    <div>
        <button style="width: 10vw;" color="primary" mat-raised-button>
            Login
        </button>
    </div>
    <div style="height: 20px;"></div>
    <div *ngIf="role == 'Patient'">
        New user ? <a class="register" [routerLink]="'/register/patient'">Register</a>
    </div>
</div>