<mat-toolbar color="primary" class="toolbar">
    <!-- <button *ngIf="isLoggedIn" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button> -->
    <h1 class="app-name">
        <a style="text-decoration: none; color: white;" [routerLink]="getHomeLink()"
            routerLinkActive="router-link-active">
            Hyacinth
        </a>
    </h1>
    <div style="flex: 1;"></div>
    <a *ngIf="!isLoggedIn; else loggedIn" [routerLink]="'/login'" style="margin-right: 5px;" mat-icon-button>
        <mat-icon>login</mat-icon>
    </a>
    <ng-template #loggedIn>
        <a style="margin-right: 5px;" mat-icon-button>
            <mat-icon style="margin-right: 5px;" mat-icon-button (click)="logout()">
                logout
            </mat-icon>
        </a>
    </ng-template>
</mat-toolbar>