.container{
    background-image: url("../../../assets/pattern.jpg");
    width: 100%;
    height: 100%;
}

.logo {
    background-image: url("../../../assets/logo.png");
    width: 27%;
    height: 20%;
    position: relative;
    left: 35%;
    top: 27%;
}

.start {
    position: relative;
    width: 15%;
    top: 32%;
    left: 40%;
}