<div class="container">
    <div style="display: flex; flex-direction: column; 
        justify-content: center; align-items: center; 
        height: 100%; width: 100%;">
        <a style="text-decoration: none;" [routerLink]="'/admin/patient'">
            Patients
        </a>
        <a style="text-decoration: none;" [routerLink]="'/admin/doctor'">
            Doctors
        </a>
        <a style="text-decoration: none;" [routerLink]="'/admin/nurse'">
            Nurses
        </a>
        <a style="text-decoration: none;" [routerLink]="'/admin/driver'">
            Drivers
        </a>
        <a style="text-decoration: none;" [routerLink]="'/admin/vendor'">
            Vendors
        </a>
    </div>
    <!-- <mat-grid-list cols="2" rowHeight="45vh">
        <mat-grid-tile>
            <div class="grid-container">
                <p>
                    <img width="216" height="233" src="assets/patient.png" />
                </p>
                <a style="text-decoration: none;" [routerLink]="'/admin/patient'">
                    Patients
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-container">
                <p>
                    <img width="216" height="233" src="assets/doctor.png" />
                </p>
                <a style="text-decoration: none;" [routerLink]="'/admin/doctor'">
                    Doctors
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-container">
                <p>
                    <img width="216" height="233" src="assets/nurse.png" />
                </p>
                <a style="text-decoration: none;" [routerLink]="'/admin/nurse'">
                    Nurses
                </a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-container">
                <p>
                    <img width="216" height="233" src="assets/driver.png" />
                </p>
                <a style="text-decoration: none;" [routerLink]="'/admin/driver'">
                    Drivers
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list> -->
</div>

<router-outlet></router-outlet>